<div class="container">
    <div class="left center-text">
        <div>
            <h1>SONHE<br>COM A<br><i>SANTÈ</i></h1>
        </div>
        <p>Uma agencia de Marketing voltada em oferecer uma assessoria completa e integrada para construcao e fortalecimento de marcas.</p>    
    </div>
    <div class="right">
        <img src="assets/images/imagem_centro_direita.webp" alt="imagem principal direita"/>
        <img src="assets/images/santee.png" alt="imagem principal direita"/>
    </div>
    <div class="mobile">
        <div class="right">
            <img src="assets/images/imagem_centro_direita.webp" alt="imagem principal direita"/>
            <img src="assets/images/santee.png" alt="imagem principal direita"/>
        </div>
    </div>
</div>

<div class="bottom-button">
    <button (click)="rolarParaContato()">ENTRE EM CONTATO <img src="assets/images/seta_gigante_esquerda.png"></button>
</div>

<h4>MARKETING CRIATIVO</h4>