<h1>NOSSOS SERVIÇOS</h1>

<ul>
    <li>
        <div class="selectable">
            <img src="assets/images/servico_projetos_editoriais.webp" alt="Projetos Editoriais" width="350rem"/>
        </div>
        <p>Projetos <br> editoriais</p>
    </li>
    <li>
        <div class="selectable">
            <img src="assets/images/servico_consultoria_criativa.webp" alt="Consultoria Criativa" width="250rem"/>
        </div>
        <p>Consultoria <br> Criativa</p>
    </li>
    <li>
        <div class="selectable">
            <img src="assets/images/servico_assessoria_marketing.webp" alt="Serviço Assessoria de Marketing" width="300rem"/>
        </div>
        <p>Assessoria <br>de<br>Marketing</p>
    </li>
    <li>
        <div class="selectable">
            <img src="assets/images/servico_gestao_de_redes.webp" alt="Gestão de Redes Sociais" width="350rem"/>
        </div>
        <p>Gestão de <br>redes sociais</p>
    </li>
</ul>