
.sentence {
  max-width: 17.5rem;
  text-align: justify;
}

.right-sentence {
  width: fit-content;
  margin-right: 5rem;
}

.right-sentence button {
  background-color: var(--primary-brand-color);
  color: white;
  border: none;
  font-style: bold;
  font-family: 'Poppins';
  padding: 0 4rem;
  font-size: large;
  width: 100%;
  margin-top: 4rem;
}


.left-sentence p{
  font-size: 9rem;
  line-height: 0;
  font-family: 'Sloop Script Pro';
  margin: 8rem 0;
  z-index: 9999;
  margin-left: 5rem;
}

  .left-sentence p:nth-child(1),
  .left-sentence p:nth-child(3) {
      font-family: 'Body Grotesque Bold';
      font-size: 8rem;
  }

.sentences {
display: flex;
flex-direction: row;
align-items: flex-start; /* Alinha os textos no topo */
justify-content: space-between;
width: 100%;
gap: 2rem;
}

.image img {
width: 100%;
max-height: 100%;
object-fit: cover;
}
.container-flex {
display: flex;
width: 100%;
height: 100vh;
gap: 20px;
padding: 20px;
}

button {
  letter-spacing: inherit;
  border-radius: 0;
}