.sentence {
    max-width: 17.5rem;
    text-align: justify;
}

.right-sentence {
    width: fit-content;
    margin: 6rem;
}

.right-sentence button {
    background-color: var(--primary-brand-color);
    color: white;
    border: none;
    font-style: bold;
    font-family: 'Poppins';
    padding: 0 4rem;
    font-size: large;
    width: 100%;
    margin-top: 4rem;
}

div.image {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

    div.image img {
        max-width: 35%;
        margin-top: .62rem;
        height: 100%;
        object-fit: cover;
    }

.left-sentence p{
    font-size: 9rem;
    line-height: 0;
    font-family: 'Sloop Script Pro';
    margin: 8rem 0;
}    

    .left-sentence p:nth-child(1),
    .left-sentence p:nth-child(3) {
        font-family: 'Body Grotesque Bold';
        font-size: 8rem;
    }

.sentences {
    display: inline-flex;
    position: absolute;
    z-index: 1;
    justify-content: space-between;
    width: 100%;
}