<div class="sentences">
  <div class="left-sentence">
    <p>Por</p>
    <p>Trás</p>
    <p>da</p>
    <p>Santè</p>
  </div>

  <div><img src="assets/images/to_back_center_imagem.webp"></div>

  <div class="right-sentence">
    <div class="container">
      <p class="sentence">
        "Movidos pela necessidade de uma agência verdadeiramente criativa e inovadora, nós, três fundadores, com olhar
        atento às tendências do mercado, unimos nossa paixão para transformar a comunicação em algo disruptivo.
      </p>
      <p class="sentence">
        Nosso propósito é ir além do óbvio, antecipando movimentos do mercado e criando estratégias que unem moda,
        beleza e arte de forma autêntica e impactante.
      </p>
      <p class="sentence">
        Combinando nossa expertise em marketing e nossa sensibilidade para a estética e o comportamento do consumidor,
        buscamos transformar cada conteúdo em uma experiência envolvente, conectando marcas ao seu público de maneira
        inovadora e inspiradora."
      </p>
      <button>QUERO SABER <br> MAIS</button>
    </div>
  </div>
</div>