:root{
    --primary-brand-color: #450201;
}
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('./assets/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Body Grotesque Regular';
    src: url('./assets/fonts/body-grotesque-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Body Grotesque Bold';
    src: url('./assets/fonts/Body-Grotesque-Fit-Bold-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sloop Script Pro';
    src: url('./assets/fonts/Sloop-ScriptThree.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'High Cruiser';
    src: url('./assets/fonts/HighCruiser-PersonalUseOnly.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moontime';
    src: url('./assets/fonts/FontsFree-Net-MoonTime-Regular-1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body { 
    padding: 0;
    margin: 0; 
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #FFF;
}

img {
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}

img.burger{
    width: 4rem;
    color: white;
}
    
    img.burger:hover {
        color: lightgray;
    }

button {
    background-color: transparent;
    color: white;
    font-family: 'Poppins';
    letter-spacing: .45rem;
    border-radius: 3rem;
    border-style: solid;
    font-size: 1.1rem;
    padding: .8rem 2rem;
    transition: .3s ease;
    border-color: white;
    height: fit-content;
    width: fit-content;
}
    button:hover {
        cursor: pointer;
    }