.contact{
    text-align: center;
    margin: 14vw 0;
    line-height: .9;
}

    .contact div{
    	display: inline-flex;
    }

.contact h1,
.contact h4 {
    width: fit-content;
    font-family: 'DM Sans';
    font-weight: bold;
    text-transform: uppercase;
}

.contact h1 {
    font-size: 11vw;
    margin: 0;
    padding: 0;
}

.contact h4 {
    color: var(--primary-brand-color);
    margin: 5% 0;
    font-size: 1.1vw;
    text-align: left;
    line-height: 1;
}

.contact .second h1::first-letter {
    font-family: 'Moontime'; 
  }

  button {
    padding: 2vw 4vw;
    font-size: 2.5vw;
    border-radius: 5vw;
    margin: 2% 1.5rem;
  }

.mobile {
    display: none;
}

@media (max-width: 768px) {
    .contact {
        display: none;
        text-align: center;
        width: 100%;
    }
    
    .mobile {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 1vw 0;
    }

    .mobile .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        text-transform: uppercase;
    }

    .mobile .contact div {
        margin: 0 .65rem;
    }

    @supports (writing-mode: sideways-lr) {
        .mobile h1 ,
        .mobile h4 {
            writing-mode: sideways-lr;
            text-orientation: sideways;
            white-space: nowrap;
        }
    }

    .mobile h1 {
        font-size: 21vw;
    }

    .second {
        height: fit-content;
        flex-direction: column;
    }

    .mobile h4 {  
        font-size: 3vw;
        text-align: center;
        margin: 3vw 5vw;
    }

    button {
        letter-spacing: normal;
        padding: 1rem 5rem;
        margin: 2rem auto;
        font-weight: normal;
    }

    @supports not (writing-mode: sideways-lr) {
        .mobile .contact {
            flex-direction: column;
            margin: 40vw 0;
        }

        .mobile .second {
          flex-direction: row-reverse;
        }

        .mobile h4 {
          text-align: left;
          font-size: 2.5vw;
          margin: 4vw 1vw;
        }

        .mobile h1 {
            font-size: 15vw;
            margin-bottom: 1rem;
        }
        
        .mobile button {
            margin: 5rem auto;
        }
    }
}