.contact{
    text-align: center;
    margin: 14vw 0;
    line-height: .9;
}

.contact div{
    display: inline-flex;
}

.contact h1,
.contact h4 {
    width: fit-content;
    font-family: 'DM Sans';
    font-weight: bold;
    text-transform: uppercase;
}

.contact h1 {
    font-size: 11vw;
    margin: 0;
    padding: 0;
}

.contact h4 {
    color: var(--primary-brand-color);
    margin: 5% 0;
    font-size: 1.1vw;
    text-align: left;
    line-height: 1;
}

.contact .second h1::first-letter {
    font-family: 'Moontime'; 
  }

  button {
    padding: 2vw 4vw;
    font-size: 2.5vw;
    border-radius: 5vw;
    margin: 2% 1.5rem;
  }