<div class="contact" id="contact">
    <div class="first">
        <h1>contato</h1>
        <h4>A creative visual <br> solution based <br>in usa.</h4>
    </div>
    <div class="second">
        <button (click)="openWhatsapp()">FALE CONOSCO</button>
        <h1>SANTÈ</h1>
    </div>
</div>

<div class="mobile">
    <div class="contact" id="contact">
        <div class="first">
            <h1>contato</h1>
        </div>
        <div class="second">
            <h1>SANTÈ</h1>
            <h4>A creative visual <br> solution based <br>in usa.</h4>
        </div>
    </div>

    <button (click)="openWhatsapp()">FALE CONOSCO</button>
</div>